In [1]:
import pandas as pd

In [2]:
path = r'BIR_SONRAKI_DEST_VALSET.csv'
df = pd.read_csv(path, sep='|')

In [3]:
df.shape

(7281309, 13)

In [6]:
len(df['CUST_KEY'].unique())

3916014

In [8]:
df.isna().sum()

CUST_KEY                 0
SEG_LCL_DEP_DT           0
CITY_NM                  0
CNTRY_NM                 0
ORGN_AP                  0
DSTN_AP                  0
ORG_CITY_NM           1997
ORG_CNTRY_NM          1997
DOM_INTNL_FLAG       11585
JRNY_TYP             15164
TOP1_ORG_MKT_REGN    67544
TOP1_ORG_CTY         67542
PRIM_TKT_NUM             0
dtype: int64

In [9]:
df

,CUST_KEY,SEG_LCL_DEP_DT,CITY_NM,CNTRY_NM,ORGN_AP,DSTN_AP,ORG_CITY_NM,ORG_CNTRY_NM,DOM_INTNL_FLAG,JRNY_TYP,TOP1_ORG_MKT_REGN,TOP1_ORG_CTY,PRIM_TKT_NUM
0,5238184,2021-06-19 00:00:00.0,ANKARA,TURKEY,BLZ,ESB,Blantyre,Malawi,I,O,Domestic,ANKARA,4899264811
1,5435557,2021-05-22 00:00:00.0,ISTANBUL,TURKEY,ESB,SAW,ANKARA,TURKEY,D,O,Domestic,ISTANBUL,2440077937
2,5528575,2021-06-30 00:00:00.0,ADANA,TURKEY,IST,ADA,ISTANBUL,TURKEY,D,O,Domestic,ADANA,2442903790
3,5609847,2021-03-02 00:00:00.0,ISTANBUL,TURKEY,MLX,SAW,MALATYA,TURKEY,D,O,Domestic,ISTANBUL,2435381634
4,5719611,2021-03-19 00:00:00.0,ANKARA,TURKEY,ISU,ESB,SULEYMANÃÂ°AH,IRAQ,I,O,Domestic,ANKARA,3862422584
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7281304,171653907,2021-05-02 00:00:00.0,SIRNAK,TURKEY,IST,NKT,ISTANBUL,TURKEY,D,O,Domestic,ISTANBUL,2439097306
7281305,171925589,2021-08-16 00:00:00.0,ISTANBUL,TURKEY,HTY,IST,HATAY,TURKEY,D,O,Domestic,ISTANBUL,2447301202
7281306,172190365,2021-08-28 00:00:00.0,ELAZIG,TURKEY,ESB,EZS,ANKARA,TURKEY,D,O,Domestic,ANKARA,2449447894
7281307,172449661,2021-06-20 00:00:00.0,DALAMAN (MUGLA),TURKEY,IST,DLM,ISTANBUL,TURKEY,D,R,Domestic,ISTANBUL,2442440409
7281308,172589179,2021-08-26 00:00:00.0,VAN,TURKEY,SAW,VAN,ISTANBUL,TURKEY,D,O,Domestic,ISTANBUL,2449374406

In [10]:
same.shape

(18077, 13)

In [8]:
df.shape

(115317228, 13)

In [2]:
seasons = {'winter':[12,1,2], 
           'spring':[3,4,5], 
           'summer':[6,7,8],
           'fall':[9,10,11]}

season_mapping = {month:k for k,v in seasons.items() for month in v}
season_mapping

{12: 'winter',
 1: 'winter',
 2: 'winter',
 3: 'spring',
 4: 'spring',
 5: 'spring',
 6: 'summer',
 7: 'summer',
 8: 'summer',
 9: 'fall',
 10: 'fall',
 11: 'fall'}

In [ ]:
def find_seasons(date):
    date.month