In [55]:
import pandas as pd

In [56]:
df = pd.read_excel(r'C:\Users\IsmailKaraman\workspace\thy\data\p3\CARGO_FOTP_DATASET.xlsx')
df.head(2)

,FLT_NO,ACT_CUS_FLE,FLEET,FLEET_FAM,FLEET_FAM_GRP,FLEET_BODY_TYP,FLT_TYP,LEG_DEP_AP,LEG_DEP_GMT_DT,LEG_DEP_GMT_TM,...,DELAY2_SUB_CODE,DELAY3_SUB_CODE,DELAY4_SUB_CODE,DELAY_ROOT_ARR_AP,DELAY_ROOT_DEP_AP,DELAY1_DURATION,DELAY2_DURATION,DELAY3_DURATION,DELAY4_DURATION,TOT_DELAY_DURATION
0,FL7064,FL-45X,TX750-30,TX750,TX750,B1,TYP1,IST,20210509,1205,...,NaN,NaN,NaN,?,?,0,0,0,0,0
1,FL7064,FL-45X,TX750-30,TX750,TX750,B1,TYP1,IST,20210512,1526,...,NaN,NaN,NaN,?,?,0,0,0,0,0

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99546 entries, 0 to 99545
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FLT_NO               99546 non-null  object
 1   ACT_CUS_FLE          99546 non-null  object
 2   FLEET                99546 non-null  object
 3   FLEET_FAM            99546 non-null  object
 4   FLEET_FAM_GRP        99546 non-null  object
 5   FLEET_BODY_TYP       99546 non-null  object
 6   FLT_TYP              99546 non-null  object
 7   LEG_DEP_AP           99546 non-null  object
 8   LEG_DEP_GMT_DT       99546 non-null  int64
 9   LEG_DEP_GMT_TM       99546 non-null  int64
 10  LEG_DEP_CNTRY_COD    99512 non-null  object
 11  LEG_DEP_RGN_COD      95771 non-null  object
 12  LEG_ARR_AP           99546 non-null  object
 13  LEG_ARR_GMT_DT       99546 non-null  int64
 14  LEG_ARR_GMT_TM       99546 non-null  int64
 15  LEG_ARR_CNTRY_COD    99512 non-null  object
 16  LEG_ACT_ARR_RGN_COD  95769 non-null  object
 17  DELAY1_SUB_CODE      63399 non-null  object
 18  DELAY2_SUB_CODE      35947 non-null  object
 19  DELAY3_SUB_CODE      10146 non-null  object
 20  DELAY4_SUB_CODE      1536 non-null   object
 21  DELAY_ROOT_ARR_AP    99546 non-null  object
 22  DELAY_ROOT_DEP_AP    99546 non-null  object
 23  DELAY1_DURATION      99546 non-null  int64
 24  DELAY2_DURATION      99546 non-null  int64
 25  DELAY3_DURATION      99546 non-null  int64
 26  DELAY4_DURATION      99546 non-null  int64
 27  TOT_DELAY_DURATION   99546 non-null  int64
dtypes: int64(9), object(19)
memory usage: 21.3+ MB

In [58]:
df.isna().sum()

FLT_NO                     0
ACT_CUS_FLE                0
FLEET                      0
FLEET_FAM                  0
FLEET_FAM_GRP              0
FLEET_BODY_TYP             0
FLT_TYP                    0
LEG_DEP_AP                 0
LEG_DEP_GMT_DT             0
LEG_DEP_GMT_TM             0
LEG_DEP_CNTRY_COD         34
LEG_DEP_RGN_COD         3775
LEG_ARR_AP                 0
LEG_ARR_GMT_DT             0
LEG_ARR_GMT_TM             0
LEG_ARR_CNTRY_COD         34
LEG_ACT_ARR_RGN_COD     3777
DELAY1_SUB_CODE        36147
DELAY2_SUB_CODE        63599
DELAY3_SUB_CODE        89400
DELAY4_SUB_CODE        98010
DELAY_ROOT_ARR_AP          0
DELAY_ROOT_DEP_AP          0
DELAY1_DURATION            0
DELAY2_DURATION            0
DELAY3_DURATION            0
DELAY4_DURATION            0
TOT_DELAY_DURATION         0
dtype: int64

In [59]:
df['LEG_ARR_AP'].value_counts()

ISL    18084
IST    17831
FRU     4393
ALA     3847
MST     2269
       ...
PIK        1
NDJ        1
GYD        1
BTS        1
MED        1
Name: LEG_ARR_AP, Length: 203, dtype: int64

drop
FLT_NO

categorical_str 
ACT_CUS_FLE Filo numarasıdır. FL-45X
FLEET Filo tipidir. TX750-30
FLEET_FAM Filo tipinin ait olduğu ailedir. TX620
FLEET_FAM_GRP Filo tipinin ait olduğu aile grubudur. TX650
FLEET_BODY_TYP Uçak gövde tipidir B1
FLT_TYP Uçuşun tipidir. TYP1
LEG_DEP_AP Kalkış bacağı hava limanıdır. IST
LEG_DEP_CNTRY_COD Kalkış istasyonunun ülke kodudur. TR
LEG_DEP_RGN_COD Kalkış istasyonunun bölge bilgisidir. DO
LEG_ARR_AP Varış bacağı hava limanıdır. MAA
LEG_ARR_CNTRY_COD Varış istasyonunun ülke kodudur. IN
LEG_ARR_RGN_COD Varış istasyonunun bölge bilgisidir. FE

LEG_DEP_GMT_DT GMT saat türünden kalkış tarihi 
LEG_DEP_GMT_TM GMT saat türünden kalkış saat 
LEG_ARR_GMT_DT GMT saat türünden varış tarihi 
LEG_ARR_GMT_TM GMT saat türünden varış saat 
- calculate flight duration


DELAY1_SUB_CODE Uçuşta yaşanan tehirin ilk nedeninin kodu 64D
DELAY2_SUB_CODE Varsa uçuşta yaşanan tehirin ikinci  nedeninin kodu 31P
DELAY3_SUB_CODE Varsa uçuşta yaşanan tehirin üçüncü nedeninin kodu N/A
DELAY4_SUB_CODE Varsa uçuşta yaşanan tehirin ilk dördüncü kodu N/A

DELAY1_DURATION Uçuşta yaşanan tehirin birinci nedeninin süresi (dk) 107
DELAY2_DURATION Varsa uçuşta yaşanan tehirin ikinci nedeninin süresi (dk) 25
DELAY3_DURATION Varsa uçuşta yaşanan tehirin üçüncü nedeninin süresi (dk) 0
DELAY4_DURATION Varsa uçuşta yaşanan tehirin dördüncü nedeninin süresi (dk) 0
TOT_DELAY_DURATION Uçuşta yaşanan tehirin toplam süresi (dk) 132

DELAY_ROOT_ARR_AP Tehire sebep olduğu tespit edilen varış istasyonu KAN
DELAY_ROOT_DEP_AP Tehire sebep olduğu tespit edilen kalkış istasyonu IST

In [60]:
df[df['DELAY_ROOT_ARR_AP']!='?'][['DELAY_ROOT_ARR_AP', 'LEG_ARR_AP']]

      DELAY_ROOT_ARR_AP LEG_ARR_AP
18586               MSQ        MST
18587               ICN        MST
18589               IST        MST
18628               BCN        MST
18644               DWC        MST
...                 ...        ...
98619               CDG        IST
98816               CDG        IST
98817               CDG        IST
98818               CDG        IST
98824               CDG        IST

[4712 rows x 2 columns]

In [61]:
df['TOT_DELAY_DURATION'].value_counts()

0       36147
5        1478
4        1096
10       1079
6         990
        ...
928         1
1312        1
1504        1
3745        1
1983        1
Name: TOT_DELAY_DURATION, Length: 2098, dtype: int64

In [62]:
df[df['DELAY1_SUB_CODE'].notnull()]['TOT_DELAY_DURATION'].value_counts()

5       1478
4       1096
10      1079
6        990
7        975
        ...
1896       1
2894       1
2036       1
1940       1
1728       1
Name: TOT_DELAY_DURATION, Length: 2097, dtype: int64

In [40]:
import numpy as np