her bir bilet için BUSINESS, LEISURE, SECOND HOME ve STUDENT yolculuk nedenlerini tahmin etmek
Oluşan sonuçların kullanım senaryolarına ilişkin açıklama yapmanız beklenmektedir.

eda for numerical values
distribution for all variables
is there any outlier
any duplicate

classification
class weights
different classifiers
tuning

https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/introduction.html
https://shap.readthedocs.io/en/latest/index.html

https://docs.rapids.ai/api/cudf/stable/        
https://www.kaggle.com/rohanrao/tutorial-on-reading-large-datasets?scriptVersionId=49328159&cellId=14

https://towardsdatascience.com/wisdom-of-the-crowd-voting-classifier-bagging-pasting-random-forest-and-extra-trees-289ef991e723

PNR
ID_PNR_CREATION_DTIME_GMT: pnr oluşturma tarihi.
PNR_TIME: pnr oluşturma saati.
ID_PNR_ITI_DEP_YMD_1: PNR'ın ilk uçuşunun tarihidir. 
ID_PNR_ITI_DEP_YMD_2
> find month

ID_PNR_ITI_CABCLASS_1: PNR'ın ilk uçuşunun kabin bilgisidir. (C: Business kabin, Y: Ekonomi kabin)
ID_PNR_ITI_CABCLASS_2:

ID_PNR_ITI_SELCLASS_1: PNR'ın ilk uçuşunun satış sınıfı bilgisidir. 
ID_PNR_ITI_SELCLASS_2:

ID_PNR_ITI_DEP_YMD_1 : ilk uçuşun tarihi
ID_PNR_ITI_DEP_TIME_1: ilk uçuşunun kalkış saatidir.
ID_PNR_ITI_ARR_TIME_1: ilk uçuşunun varış saatidir.
> ilk uçuşun süresi
> varış saatinin zaman dilimi 05-11, 11-18, 18-05 
> uçuşun günü ve ayı - ID_PNR_ITI_DEP_YMD_1

ID_PNR_ITI_DEP_YMD_2: 2. uçuşun kalkış tarihi
ID_PNR_ITI_DEP_TIME_2: 2. uçuş kalkış saati
ID_PNR_ITI_ARR_TIME_2: 2. uçuş varış saati
> 2. uçuşun süresi 
> varış saatinin zaman dilimi 05-11, 11-18, 18-05 
> uçuşun günü ve ayı - ID_PNR_ITI_DEP_YMD_2

ID_PNR_ITI_DEP_APT_1 : ilk uçuşun kalkış yeri
ID_PNR_ITI_DEP_ARR_1 :
ID_PNR_ITI_DEP_APT_2 : 2. uçuş kalkış yeri
ID_PNR_ITI_ARR_APT_2 : 


> pnr oluşturma ve ilk uuçuş saati arası fark: ID_PNR_ITI_DEP_YMD_1 - ID_PNR_CREATION_DTIME_GMT / day
> 2. uçuşla ilk uçuş arasındaki fark yoksa 0: ID_PNR_ITI_DEP_YMD_2 - ID_PNR_ITI_DEP_YMD_1  / day
> pnr oluşturma saati in workhours or not: PNR_TIME
> pnr oluşturma hangi ayda ve günde: ID_PNR_CREATION_DTIME_GMT
> pnrda kaç uçuş var
> 

7. bir pnrda 2 uçuş olması halinde return var mı? (JRNY_TYP mi?)

TICKET

FLIGHT_REASON Label

PNR_PSSG_COUNT: yolcu sayısı
CHILD_FLG: çocuk olup olmadığı
INFANT_FLG: infant
POS_POC_SAME_FLG: PNR ın satış noktasıyla çıkış noktasının aynı olup olmadığı bilgisi
SAME_SRNAME_FLG: PNR da aynı soy isimden kişilerin olup olmadığı bilgisi
FAMILY_FLG: Pnr ın tek bir aileden oluşup oluşmadığı bilgisi
SEAT_SELECT_FLG: Yolcunun koltuk seçimi yapıp yapmadığı bilgisi
XBAG_FIRST_FLT_FLG: PNR ın ilk uçuşunda ekstra bagaj alıp almadığı bilgisi
XBAG_LAST_FLT_FLG: PNR ın son uçuşunda ekstra bagaj alıp almadığı bilgisi
XBAG_TWO_WAY_FLT_FLG: PNR ın her uçuşunda da ekstra bagaj alıp almadığı bilgisi !!!!!!!! yukarıdaki iki kolonla beraber mi?
XBAG_FLG: Ekstra bagaj alıp almadığı bilgisi
SPORT_FLG: Yolcunun spor ekipmanı taşıyıp taşımadığı bilgisi
PET_FLG: Yolcunun evcil hayvan taşıyıp taşımadığı bilgisi
JRNY_TYP: Seyahatin tek yön mü, gidiş- dönüş mü olduğunu gösterir (O, R)
OND: Biletin çıkış-varış noktası, ! - ile ayır dest, 
NTNLT1: Yolcunun uyruğu
CUST_AGE: Yolcunun yaşı

POS_POC_SAME_FLG	PNR ın satış noktasıyla çıkış noktasının aynı olup olmadığı bilgisi	0
SAME_SRNAME_FLG	PNR da aynı soy isimden kişilerin olup olmadığı bilgisi	1
FAMILY_FLG	Pnr ın tek bir aileden oluşup oluşmadığı bilgisi	0
SEAT_SELECT_FLG	Yolcunun koltuk seçimi yapıp yapmadığı bilgisi	0
XBAG_FIRST_FLT_FLG	PNR ın ilk uçuşunda ekstra bagaj alıp almadığı bilgisi	0
XBAG_LAST_FLT_FLG	PNR ın son uçuşunda ekstra bagaj alıp almadığı bilgisi	0
XBAG_TWO_WAY_FLT_FLG	PNR ın her uçuşunda da ekstra bagaj alıp almadığı bilgisi	0
SPORT_FLG	Yolcunun spor ekipmanı taşıyıp taşımadığı bilgisi	0
XBAG_FLG	Ekstra bagaj alıp almadığı bilgisi	0
PET_FLG	Yolcunun evcil hayvan taşıyıp taşımadığı bilgisi	0
JRNY_TYP	Seyahatin tek yön mü, gidiş- dönüş mü olduğunu gösterir (O:One-Way, R: Return) 	O
OND	Biletin çıkış-varış noktası	IST-LUX
NTNLT1	Yolcunun uyruğu	Russia
CUST_AGE	Yolcunun yaşı	34

# PNR

In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
pnrs = pd.read_csv('PNR.csv')

In [3]:
pnrs.head(2)

,PNR_NO,ID_PNR_CREATION_DTIME_GMT,PNR_TIME,ID_PNR_ITI_DEP_YMD_1,ID_PNR_ITI_CABCLASS_1,ID_PNR_ITI_SELCLASS_1,ID_PNR_ITI_DEP_TIME_1,ID_PNR_ITI_ARR_TIME_1,ID_PNR_ITI_DEP_APT_1,ID_PNR_ITI_ARR_APT_1,ID_PNR_ITI_FLIGHT_NO_1,ID_PNR_ITI_SELCLASS_2,ID_PNR_ITI_CABCLASS_2,ID_PNR_ITI_DEP_TIME_2,ID_PNR_ITI_ARR_TIME_2,ID_PNR_ITI_DEP_APT_2,ID_PNR_ITI_ARR_APT_2,ID_PNR_ITI_DEP_YMD_2
0,SWL3GJ8,2017-08-10 15:24:00.0,1524,20170814.0,Y,A,1155.0,1255.0,3353.0,1020.0,1033.0,Y,Y,2010.0,2315.0,1020.0,3353.0,20170816.0
1,ST536J8,2016-06-23 15:36:00.0,1536,20160707.0,Y,Q,15.0,420.0,2853.0,3353.0,1558.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
pnrs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7656315 entries, 0 to 7656314
Data columns (total 18 columns):
 #   Column                     Dtype
---  ------                     -----
 0   PNR_NO                     object
 1   ID_PNR_CREATION_DTIME_GMT  object
 2   PNR_TIME                   int64
 3   ID_PNR_ITI_DEP_YMD_1       float64
 4   ID_PNR_ITI_CABCLASS_1      object
 5   ID_PNR_ITI_SELCLASS_1      object
 6   ID_PNR_ITI_DEP_TIME_1      float64
 7   ID_PNR_ITI_ARR_TIME_1      float64
 8   ID_PNR_ITI_DEP_APT_1       float64
 9   ID_PNR_ITI_ARR_APT_1       float64
 10  ID_PNR_ITI_FLIGHT_NO_1     float64
 11  ID_PNR_ITI_SELCLASS_2      object
 12  ID_PNR_ITI_CABCLASS_2      object
 13  ID_PNR_ITI_DEP_TIME_2      float64
 14  ID_PNR_ITI_ARR_TIME_2      float64
 15  ID_PNR_ITI_DEP_APT_2       float64
 16  ID_PNR_ITI_ARR_APT_2       float64
 17  ID_PNR_ITI_DEP_YMD_2       float64
dtypes: float64(11), int64(1), object(6)
memory usage: 1.0+ GB

In [5]:
pnrs.isna().sum()

PNR_NO                             0
ID_PNR_CREATION_DTIME_GMT          0
PNR_TIME                           0
ID_PNR_ITI_DEP_YMD_1          406989
ID_PNR_ITI_CABCLASS_1         406989
ID_PNR_ITI_SELCLASS_1         406989
ID_PNR_ITI_DEP_TIME_1         406989
ID_PNR_ITI_ARR_TIME_1         406989
ID_PNR_ITI_DEP_APT_1          406989
ID_PNR_ITI_ARR_APT_1          406989
ID_PNR_ITI_FLIGHT_NO_1        406989
ID_PNR_ITI_SELCLASS_2        3489181
ID_PNR_ITI_CABCLASS_2        3489181
ID_PNR_ITI_DEP_TIME_2        3489181
ID_PNR_ITI_ARR_TIME_2        3489181
ID_PNR_ITI_DEP_APT_2         3489181
ID_PNR_ITI_ARR_APT_2         3489181
ID_PNR_ITI_DEP_YMD_2         3489181
dtype: int64

In [6]:
# deleting pnrs that has no flight
pnrs.dropna(subset=['ID_PNR_ITI_DEP_YMD_1'], inplace=True)

In [7]:
pnrs.shape[0]

7249326

In [8]:
pnrs.isna().sum()

PNR_NO                             0
ID_PNR_CREATION_DTIME_GMT          0
PNR_TIME                           0
ID_PNR_ITI_DEP_YMD_1               0
ID_PNR_ITI_CABCLASS_1              0
ID_PNR_ITI_SELCLASS_1              0
ID_PNR_ITI_DEP_TIME_1              0
ID_PNR_ITI_ARR_TIME_1              0
ID_PNR_ITI_DEP_APT_1               0
ID_PNR_ITI_ARR_APT_1               0
ID_PNR_ITI_FLIGHT_NO_1             0
ID_PNR_ITI_SELCLASS_2        3082192
ID_PNR_ITI_CABCLASS_2        3082192
ID_PNR_ITI_DEP_TIME_2        3082192
ID_PNR_ITI_ARR_TIME_2        3082192
ID_PNR_ITI_DEP_APT_2         3082192
ID_PNR_ITI_ARR_APT_2         3082192
ID_PNR_ITI_DEP_YMD_2         3082192
dtype: int64

In [9]:
for col in pnrs.columns:
    print('# of unique values in ', col, ': ', len(pnrs[col].unique()))

# of unique values in  PNR_NO :  7025462
# of unique values in  ID_PNR_CREATION_DTIME_GMT :  1617026
# of unique values in  PNR_TIME :  1440
# of unique values in  ID_PNR_ITI_DEP_YMD_1 :  1461
# of unique values in  ID_PNR_ITI_CABCLASS_1 :  3
# of unique values in  ID_PNR_ITI_SELCLASS_1 :  26
# of unique values in  ID_PNR_ITI_DEP_TIME_1 :  284
# of unique values in  ID_PNR_ITI_ARR_TIME_1 :  282
# of unique values in  ID_PNR_ITI_DEP_APT_1 :  62
# of unique values in  ID_PNR_ITI_ARR_APT_1 :  65
# of unique values in  ID_PNR_ITI_FLIGHT_NO_1 :  595
# of unique values in  ID_PNR_ITI_SELCLASS_2 :  27
# of unique values in  ID_PNR_ITI_CABCLASS_2 :  4
# of unique values in  ID_PNR_ITI_DEP_TIME_2 :  281
# of unique values in  ID_PNR_ITI_ARR_TIME_2 :  282
# of unique values in  ID_PNR_ITI_DEP_APT_2 :  63
# of unique values in  ID_PNR_ITI_ARR_APT_2 :  64
# of unique values in  ID_PNR_ITI_DEP_YMD_2 :  1460

In [10]:
pnrs['ID_PNR_ITI_SELCLASS_2'].unique()

array(['Y', nan, 'L', 'U', 'W', 'P', 'T', 'J', 'A', 'E', 'O', 'V', 'Q',
       'S', 'H', 'X', 'B', 'Z', 'N', 'M', 'K', 'I', 'G', 'C', 'D', '?',
       'R'], dtype=object)

In [11]:
pnrs['ID_PNR_ITI_DEP_YMD_2']

0          20170816.0
1                 NaN
2          20160217.0
3          20170221.0
4          20170326.0
              ...
7656310    20160403.0
7656311           NaN
7656312    20181027.0
7656313           NaN
7656314           NaN
Name: ID_PNR_ITI_DEP_YMD_2, Length: 7249326, dtype: float64

In [12]:
x = pnrs['ID_PNR_ITI_DEP_YMD_2'][2]
if not pd.isna(x):
    print(datetime.strptime(str(int(x)) , '%Y%m%d').strftime('%Y-%m-%d'))
else: 
    print('-')

2016-02-17

In [13]:
# pnr creation month
pnrs['pnr_create_month'] = pd.to_datetime(pnrs['ID_PNR_CREATION_DTIME_GMT']).dt.month
# pnr creation weekday
pnrs['pnr_create_weekday'] = pd.to_datetime(pnrs['ID_PNR_CREATION_DTIME_GMT']).dt.weekday

In [14]:
pnrs['ID_PNR_ITI_DEP_YMD_1'] = pnrs['ID_PNR_ITI_DEP_YMD_1'].apply(lambda x: datetime.strptime(str(int(x)), '%Y%m%d').strftime('%Y-%m-%d'))
# month of first flight
pnrs['flight_month_1'] = pd.to_datetime(pnrs['ID_PNR_ITI_DEP_YMD_1']).dt.month
# day of first flight
pnrs['flight_weekday_1'] =  pd.to_datetime(pnrs['ID_PNR_ITI_DEP_YMD_1']).dt.weekday

In [15]:
pnrs['ID_PNR_ITI_DEP_YMD_2'] = pnrs['ID_PNR_ITI_DEP_YMD_2'].apply(lambda x: datetime.strptime(str(int(x)), '%Y%m%d').strftime('%Y-%m-%d') if not pd.isna(x) else np.nan)
# month of second flight
pnrs['flight_month_2'] = pd.to_datetime(pnrs['ID_PNR_ITI_DEP_YMD_2']).dt.month # apply(lambda x: int(x.month) if not pd.isna(x) else 0)
# day of second flight
pnrs['flight_weekday_2'] =  pd.to_datetime(pnrs['ID_PNR_ITI_DEP_YMD_2']).dt.weekday

In [16]:
pnrs.head(2)

,PNR_NO,ID_PNR_CREATION_DTIME_GMT,PNR_TIME,ID_PNR_ITI_DEP_YMD_1,ID_PNR_ITI_CABCLASS_1,ID_PNR_ITI_SELCLASS_1,ID_PNR_ITI_DEP_TIME_1,ID_PNR_ITI_ARR_TIME_1,ID_PNR_ITI_DEP_APT_1,ID_PNR_ITI_ARR_APT_1,...,ID_PNR_ITI_ARR_TIME_2,ID_PNR_ITI_DEP_APT_2,ID_PNR_ITI_ARR_APT_2,ID_PNR_ITI_DEP_YMD_2,pnr_create_month,pnr_create_weekday,flight_month_1,flight_weekday_1,flight_month_2,flight_weekday_2
0,SWL3GJ8,2017-08-10 15:24:00.0,1524,2017-08-14,Y,A,1155.0,1255.0,3353.0,1020.0,...,2315.0,1020.0,3353.0,2017-08-16,8,3,8,0,8.0,2.0
1,ST536J8,2016-06-23 15:36:00.0,1536,2016-07-07,Y,Q,15.0,420.0,2853.0,3353.0,...,NaN,NaN,NaN,NaN,6,3,7,3,NaN,NaN

## helper functions

In [17]:
convert_hours = lambda x: datetime(1900, 1, 1, int(x)//100, int(x)%100)

In [18]:
find_hour_difference = lambda x,y : (convert_hours(x)-convert_hours(y)).total_seconds()/60 if not pd.isna(y) else np.nan

In [19]:
def arrival_hour_interval(x):
    if 500 <= x < 1100:
        return 0
    elif 1100 <= x < 1800:
        return 1
    else:
        return 2

In [20]:
def pnr_workhour_interval(x):
    if 800 <= x < 1800:
        return 1
    else:
        return 0

In [21]:
# flight duration for first flight
pnrs['flight_duration_1'] = pnrs[['ID_PNR_ITI_ARR_TIME_1', 'ID_PNR_ITI_DEP_TIME_1']].apply(lambda x: find_hour_difference(*x), axis=1)
pnrs['flight_duration_1'] = pnrs['flight_duration_1'].apply(lambda x: x+1440 if x<0 else x)

In [22]:
# flight duration for second flight
pnrs['flight_duration_2'] = pnrs[['ID_PNR_ITI_ARR_TIME_2', 'ID_PNR_ITI_DEP_TIME_2']].apply(lambda x: find_hour_difference(*x), axis=1)
pnrs['flight_duration_2'] = pnrs['flight_duration_2'].apply(lambda x: x+1440 if x<0 else x)

In [23]:
# arrival intervals of flights 05:00-11:00, 11:00-18:00, 18:00-05:00
pnrs['arrival_interval_1'] = pnrs['ID_PNR_ITI_ARR_TIME_1'].apply(arrival_hour_interval)
pnrs['arrival_interval_2'] = pnrs['ID_PNR_ITI_ARR_TIME_2'].apply(arrival_hour_interval)

In [24]:
# day difference between first flight and pnr date
pnrs['diff_pnr_firstflight'] = (pd.to_datetime(pnrs['ID_PNR_ITI_DEP_YMD_1'])-pd.to_datetime(pnrs['ID_PNR_CREATION_DTIME_GMT'])).apply(lambda x: x.days) + 1
# day difference between second flight and first flight
pnrs['diff_second_firstflight'] = np.abs((pd.to_datetime(pnrs['ID_PNR_ITI_DEP_YMD_2'])-pd.to_datetime(pnrs['ID_PNR_ITI_DEP_YMD_1'])).apply(lambda x: x.days))

In [25]:
# is pnr create hour in workhours or not
pnrs['pnr_workhour_interval'] = pnrs['PNR_TIME'].apply(pnr_workhour_interval)

In [26]:
# number of flights in each pnr
pnrs['num_of_flights'] = pnrs['ID_PNR_ITI_DEP_YMD_1'].isna()*-1 + pnrs['ID_PNR_ITI_DEP_YMD_2'].isna()*-1+2

In [27]:
pnrs = pnrs[['PNR_NO', 'ID_PNR_CREATION_DTIME_GMT',
'ID_PNR_ITI_CABCLASS_1', 'ID_PNR_ITI_SELCLASS_1', 
'ID_PNR_ITI_DEP_APT_1', 'ID_PNR_ITI_ARR_APT_1',
'ID_PNR_ITI_SELCLASS_2', 'ID_PNR_ITI_CABCLASS_2',
'ID_PNR_ITI_DEP_APT_2', 'ID_PNR_ITI_ARR_APT_2',
'pnr_create_month', 'pnr_create_weekday',
'flight_month_1', 'flight_weekday_1', 'flight_month_2',
'flight_weekday_2', 'flight_duration_1', 'flight_duration_2',
'arrival_interval_1', 'arrival_interval_2', 'diff_pnr_firstflight',
'diff_second_firstflight', 'pnr_workhour_interval', 'num_of_flights']]

# tickets

TICKET

FLIGHT_REASON Label

PNR_PSSG_COUNT: yolcu sayısı
CHILD_FLG: çocuk olup olmadığı
INFANT_FLG: infant
POS_POC_SAME_FLG: PNR ın satış noktasıyla çıkış noktasının aynı olup olmadığı bilgisi
SAME_SRNAME_FLG: PNR da aynı soy isimden kişilerin olup olmadığı bilgisi
FAMILY_FLG: Pnr ın tek bir aileden oluşup oluşmadığı bilgisi
SEAT_SELECT_FLG: Yolcunun koltuk seçimi yapıp yapmadığı bilgisi
XBAG_FIRST_FLT_FLG: PNR ın ilk uçuşunda ekstra bagaj alıp almadığı bilgisi
XBAG_LAST_FLT_FLG: PNR ın son uçuşunda ekstra bagaj alıp almadığı bilgisi
XBAG_TWO_WAY_FLT_FLG: PNR ın her uçuşunda da ekstra bagaj alıp almadığı bilgisi !!!!!!!! yukarıdaki iki kolonla beraber mi?
XBAG_FLG: Ekstra bagaj alıp almadığı bilgisi
SPORT_FLG: Yolcunun spor ekipmanı taşıyıp taşımadığı bilgisi
PET_FLG: Yolcunun evcil hayvan taşıyıp taşımadığı bilgisi
JRNY_TYP: Seyahatin tek yön mü, gidiş- dönüş mü olduğunu gösterir (O, R)
OND: Biletin çıkış-varış noktası, ! - ile ayır dest, 
NTNLT1: Yolcunun uyruğu
CUST_AGE: Yolcunun yaşı

In [28]:
tickets = pd.read_csv('TICKET.csv')

In [29]:
tickets.head(2)

,PNR_NO,ID_PNR_CREATION_YMD,ID_TKT_NO,FLIGHT_REASON,PNR_PSSG_COUNT,CHILD_FLG,INFANT_FLG,POS_POC_SAME_FLG,SAME_SRNAME_FLG,FAMILY_FLG,...,XBAG_FIRST_FLT_FLG,XBAG_LAST_FLT_FLG,XBAG_TWO_WAY_FLT_FLG,SPORT_FLG,XBAG_FLG,PET_FLG,JRNY_TYP,OND,NTNLT1,CUST_AGE
0,TEW3KBT,20180503,142055717068,NONE,1,0,0,0,0,0,...,0,0,0,0,0,0,O,IST-CDG,NaN,NaN
1,TCZ3RLY,20191126,2351841942820,BUSINESS,1,0,0,0,0,0,...,0,0,0,0,0,0,R,MXP-IST,Italy,38.0

In [30]:
tickets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10207368 entries, 0 to 10207367
Data columns (total 21 columns):
 #   Column                Dtype
---  ------                -----
 0   PNR_NO                object
 1   ID_PNR_CREATION_YMD   int64
 2   ID_TKT_NO             int64
 3   FLIGHT_REASON         object
 4   PNR_PSSG_COUNT        int64
 5   CHILD_FLG             int64
 6   INFANT_FLG            int64
 7   POS_POC_SAME_FLG      int64
 8   SAME_SRNAME_FLG       int64
 9   FAMILY_FLG            int64
 10  SEAT_SELECT_FLG       int64
 11  XBAG_FIRST_FLT_FLG    int64
 12  XBAG_LAST_FLT_FLG     int64
 13  XBAG_TWO_WAY_FLT_FLG  int64
 14  SPORT_FLG             int64
 15  XBAG_FLG              int64
 16  PET_FLG               int64
 17  JRNY_TYP              object
 18  OND                   object
 19  NTNLT1                object
 20  CUST_AGE              float64
dtypes: float64(1), int64(15), object(5)
memory usage: 1.6+ GB

In [31]:
tickets.isna().sum()

PNR_NO                        0
ID_PNR_CREATION_YMD           0
ID_TKT_NO                     0
FLIGHT_REASON                 0
PNR_PSSG_COUNT                0
CHILD_FLG                     0
INFANT_FLG                    0
POS_POC_SAME_FLG              0
SAME_SRNAME_FLG               0
FAMILY_FLG                    0
SEAT_SELECT_FLG               0
XBAG_FIRST_FLT_FLG            0
XBAG_LAST_FLT_FLG             0
XBAG_TWO_WAY_FLT_FLG          0
SPORT_FLG                     0
XBAG_FLG                      0
PET_FLG                       0
JRNY_TYP                      0
OND                           0
NTNLT1                  4395393
CUST_AGE                4231579
dtype: int64

In [32]:
tickets['FLIGHT_REASON'].value_counts()

NONE           8911797
LEISURE         576739
BUSINESS        458593
SECOND HOME     259011
STUDENT           1228
Name: FLIGHT_REASON, dtype: int64

In [33]:
tickets = tickets[tickets['FLIGHT_REASON']!='NONE']

In [34]:
tickets.columns

Index(['PNR_NO', 'ID_PNR_CREATION_YMD', 'ID_TKT_NO', 'FLIGHT_REASON',
       'PNR_PSSG_COUNT', 'CHILD_FLG', 'INFANT_FLG', 'POS_POC_SAME_FLG',
       'SAME_SRNAME_FLG', 'FAMILY_FLG', 'SEAT_SELECT_FLG',
       'XBAG_FIRST_FLT_FLG', 'XBAG_LAST_FLT_FLG', 'XBAG_TWO_WAY_FLT_FLG',
       'SPORT_FLG', 'XBAG_FLG', 'PET_FLG', 'JRNY_TYP', 'OND', 'NTNLT1',
       'CUST_AGE'],
      dtype='object')

In [35]:
tickets['DEP'] = tickets['OND'].apply(lambda x: x.split('-')[0])
tickets['ARR'] = tickets['OND'].apply(lambda x: x.split('-')[1])

In [36]:
tickets['ARR'].unique()

array(['IST', 'AMS', 'MXP', 'LED', 'MUC', 'MRS', 'VCE', 'PRG', 'FCO',
       'MSQ', 'KRR', 'BHX', 'LHR', 'TXL', 'ATH', 'LUX', 'FRA', 'CDG',
       'VIE', 'GVA', 'HAM', 'NCE', 'LEJ', 'BUD', 'MAN', 'CPH', 'BCN',
       'NUE', 'MAD', 'BRU', 'WAW', 'VKO', 'STR', 'CGN', 'ARN', 'BLQ',
       'DUS', 'HEL', 'LYS', 'LGW', 'HAJ', 'DUB', 'CTA', 'GOT', 'BRE',
       'BLL', 'TLS', 'OSL', 'KZN', 'VNO', 'RIX', 'KUF', 'ROV', 'PAR',
       'EDI', 'SVX', 'SZG', 'TLL', 'GRZ', 'VOZ', 'UFA', 'AER', 'AYT',
       'MIL', 'BER', 'LON', 'MOW', 'STO', 'ROM'], dtype=object)

In [37]:
tickets.head(5)

,PNR_NO,ID_PNR_CREATION_YMD,ID_TKT_NO,FLIGHT_REASON,PNR_PSSG_COUNT,CHILD_FLG,INFANT_FLG,POS_POC_SAME_FLG,SAME_SRNAME_FLG,FAMILY_FLG,...,XBAG_TWO_WAY_FLT_FLG,SPORT_FLG,XBAG_FLG,PET_FLG,JRNY_TYP,OND,NTNLT1,CUST_AGE,DEP,ARR
1,TCZ3RLY,20191126,2351841942820,BUSINESS,1,0,0,0,0,0,...,0,0,0,0,R,MXP-IST,Italy,38.0,MXP,IST
2,RDI3MGJ,20191017,2352398019612,BUSINESS,1,0,0,1,0,0,...,0,0,0,0,R,IST-AMS,Turkey,51.0,IST,AMS
3,RMD3TXI,20181107,2352883527102,BUSINESS,1,0,0,0,0,0,...,0,0,0,0,R,IST-MXP,Turkey,40.0,IST,MXP
4,SLY38ND,20190329,2353601191915,BUSINESS,1,0,0,0,0,0,...,0,0,0,0,O,LHR-IST,Germany,63.0,LHR,IST
5,T2736PV,20180402,2355397669426,BUSINESS,1,0,0,0,0,0,...,0,0,0,0,R,IST-LED,Turkey,34.0,IST,LED

In [38]:
tickets.isna().sum()

PNR_NO                       0
ID_PNR_CREATION_YMD          0
ID_TKT_NO                    0
FLIGHT_REASON                0
PNR_PSSG_COUNT               0
CHILD_FLG                    0
INFANT_FLG                   0
POS_POC_SAME_FLG             0
SAME_SRNAME_FLG              0
FAMILY_FLG                   0
SEAT_SELECT_FLG              0
XBAG_FIRST_FLT_FLG           0
XBAG_LAST_FLT_FLG            0
XBAG_TWO_WAY_FLT_FLG         0
SPORT_FLG                    0
XBAG_FLG                     0
PET_FLG                      0
JRNY_TYP                     0
OND                          0
NTNLT1                  571932
CUST_AGE                558816
DEP                          0
ARR                          0
dtype: int64

In [39]:
len(tickets.PNR_NO.unique())

655251

In [40]:
tickets.shape

(1295571, 23)

In [41]:
pnrs.shape, len(pnrs.PNR_NO.unique())

((7249326, 24), 7025462)

In [42]:
pnrs['date'] = pnrs['ID_PNR_CREATION_DTIME_GMT'].apply(lambda x: x.split(' ')[0])

In [43]:
tickets['date'] = tickets['ID_PNR_CREATION_YMD'].apply(lambda x: datetime.strptime(str(x), '%Y%m%d').strftime('%Y-%m-%d'))

In [44]:
merged_df = pd.merge(tickets, pnrs, on=['PNR_NO', 'date'])

In [45]:
merged_df.shape

(1295571, 47)

In [46]:
# 'FLIGHT_REASON' - label

categorical_str = [
'ARR',
'DEP',
'ID_PNR_ITI_CABCLASS_1',
'ID_PNR_ITI_CABCLASS_2',
'ID_PNR_ITI_SELCLASS_1',
'ID_PNR_ITI_SELCLASS_2',
'JRNY_TYP',
'NTNLT1' ] 

categorical_int = [
'arrival_interval_1',
'arrival_interval_2',
'flight_month_1',
'flight_month_2',
'flight_weekday_1',
'flight_weekday_2',
'pnr_create_month',
'pnr_create_weekday',
'pnr_workhour_interval']

numerical = [
'CUST_AGE',
'diff_pnr_firstflight', 
'diff_second_firstflight',
'flight_duration_1',
'flight_duration_2',
]

passthrough = [
'CHILD_FLG',
'FAMILY_FLG',
'INFANT_FLG',
'PET_FLG',
'POS_POC_SAME_FLG',
'SAME_SRNAME_FLG',
'SEAT_SELECT_FLG',
'SPORT_FLG',
'XBAG_FIRST_FLT_FLG',
'XBAG_FLG',
'XBAG_LAST_FLT_FLG',
'XBAG_TWO_WAY_FLT_FLG',
'PNR_PSSG_COUNT',
'num_of_flights']

drops = [
'ID_PNR_CREATION_DTIME_GMT',
'ID_PNR_CREATION_YMD',
'ID_PNR_ITI_ARR_APT_1',
'ID_PNR_ITI_ARR_APT_2',
'ID_PNR_ITI_DEP_APT_1',
'ID_PNR_ITI_DEP_APT_2',
'ID_TKT_NO',
'OND',
'PNR_NO',
'date']

In [47]:
y = merged_df['FLIGHT_REASON']
X = merged_df[categorical_str+categorical_int+numerical+passthrough]

In [48]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV

In [49]:
from sklearn.ensemble import RandomForestClassifier

In [50]:
X.isna().sum()[X.isna().sum()>0]

ID_PNR_ITI_CABCLASS_2      191446
ID_PNR_ITI_SELCLASS_2      191446
NTNLT1                     571932
flight_month_2             191446
flight_weekday_2           191446
CUST_AGE                   558816
diff_second_firstflight    191446
flight_duration_2          191446
dtype: int64

In [51]:
X[numerical].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1295571 entries, 0 to 1295570
Data columns (total 5 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   CUST_AGE                 736755 non-null   float64
 1   diff_pnr_firstflight     1295571 non-null  int64
 2   diff_second_firstflight  1104125 non-null  float64
 3   flight_duration_1        1295571 non-null  float64
 4   flight_duration_2        1104125 non-null  float64
dtypes: float64(4), int64(1)
memory usage: 59.3 MB

In [52]:
merged_df['ID_PNR_ITI_SELCLASS_2'].unique()

array(['Q', 'P', 'U', nan, 'W', 'O', 'L', 'G', 'T', 'E', 'V', 'A', 'D',
       'J', 'Y', 'H', 'B', 'M', 'Z', 'X', 'C', 'S', 'K', 'I', 'N', '?',
       'R'], dtype=object)

In [53]:
(X[numerical]==-1).index

Int64Index([      0,       1,       2,       3,       4,       5,       6,
                  7,       8,       9,
            ...
            1295561, 1295562, 1295563, 1295564, 1295565, 1295566, 1295567,
            1295568, 1295569, 1295570],
           dtype='int64', length=1295571)

In [54]:
from sklearn.metrics import classification_report
from sklearn.utils.class_weight import compute_class_weight
import numpy as np

In [55]:
cw = dict(zip(np.unique(y), compute_class_weight('balanced', np.unique(y), y)))

C:\Users\IsmailKaraman\anaconda3\lib\site-packages\sklearn\utils\validation.py:67: FutureWarning: Pass classes=['BUSINESS' 'LEISURE' 'SECOND HOME' 'STUDENT'], y=0          BUSINESS
1          BUSINESS
2          BUSINESS
3          BUSINESS
4          BUSINESS
             ...
1295566     LEISURE
1295567     LEISURE
1295568     LEISURE
1295569     LEISURE
1295570     LEISURE
Name: FLIGHT_REASON, Length: 1295571, dtype: object as keyword args. From version 0.25 passing these as positional arguments will result in an error
  warnings.warn("Pass {} as keyword args. From version 0.25 "

In [56]:
c

NameError: name 'at' is not defined

In [ ]:
%%time
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())])

categorical_str_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='None')),
    ('one-hot', OneHotEncoder(handle_unknown='ignore'))])

categorical_int_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value=-99)),
    ('one-hot', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(
                                transformers=[
                                              ('num', numeric_transformer, numerical),
                                              ('cat_str', categorical_str_transformer, categorical_str),
                                              ('cat_int', categorical_int_transformer, categorical_int),], 
                                remainder='passthrough')

clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('classifier', RandomForestClassifier(class_weight=))])

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.33, random_state=42)

clf.fit(X_train, y_train)
print("training score: %.3f" % clf.score(X_train, y_train))
print("test score: %.3f" % clf.score(X_test, y_test))

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
print(classification_report(y_test, y_pred))

In [ ]:
stopp

In [ ]:
without class weights:
              precision    recall  f1-score   support

    BUSINESS       0.97      0.99      0.98    151336
     LEISURE       0.98      0.97      0.97    190324
 SECOND HOME       0.98      0.97      0.98     85474
     STUDENT       0.99      0.42      0.59       405

    accuracy                           0.98    427539
   macro avg       0.98      0.84      0.88    427539
weighted avg       0.98      0.98      0.98    427539

In [ ]:
merged_df.diff_pnr_firstflight

In [ ]:
new features
if we can use additional datasets
is NTNLT1 in arr or dep of oene of the flights

In [ ]:
is it possible to flight before pnr

pnrs[pnrs['diff_pnr_firstflight']<0][['ID_PNR_ITI_DEP_YMD_1', 'ID_PNR_CREATION_DTIME_GMT', 'diff_pnr_firstflight']]

2. uçuşun 1. uçuştan önce olması mümkün mü?
pnrs[pnrs['diff_second_firstflight']==2][['ID_PNR_ITI_DEP_YMD_2', 'ID_PNR_ITI_DEP_YMD_1', 'diff_second_firstflight']]